*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
#main{

}

.header{
    
}

.header .header-top{
    width: 100%;
    height: 2.625em;
    background-color: rgba(218, 60, 60, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    text-transform: uppercase;
}
.header .header-top a, p{
    font-size: 12px;
}
.header-top .header-top-left{
    display: flex;
    align-items: center;
}
.header-top .header-top-left .header-top-left-select{
    
}

.header-top .header-top-left .header-top-left-select > li{
    float: left;
    line-height: 42px;
}

.header-top .header-top-left .header-top-left-select > li > a{
    color: #fff;
    padding: 0 12px;
    display: block;
}

.header-top .header-top-left .header-top-left-select > li:hover > a{
    opacity: 0.8;
}
.header-top .header-top-left .header-top-left-select .select-nav{
    position: relative;
}
.header-top .header-top-left .header-top-left-select .select-nav:hover .select-subnav{
    display: block;
}
.header-top .header-top-left .header-top-left-select .select-subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 120px;
    box-shadow: 0 0 1px #000; 
}

.header-top .header-top-left .header-top-left-select .select-subnav li{
    
}

.header-top .header-top-left .header-top-left-select .select-subnav li a{
    color: red;
    padding: 0 12px;
    text-align: left;
    display: block;
    line-height: 36px;
    border-bottom: 1px solid #ccc ;

}

.header-top .header-top-left .header-top-left-select .select-subnav li:hover a{
    color: brown;
}
.header-top .header-top-left .header-top-left-sale{
    margin: 0 16px;
    color: #fff;
}


